<!DOCTYPE html>
<html lang="{{ site.language }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.name }}</title>
  <link rel='stylesheet' href='/css/style.css?{{ assetHash }}' />
</head>
<body>
  <main tabindex='-1' id='main-content'>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>