{% set assetHash = global.random() %}

<!DOCTYPE html>
<html lang="{{ site.language }}" class='no-js'>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="{{ eleventy.generator }}">
    {% include "partials/meta-info.njk" %}
    {% include "partials/google-fonts.njk" %}
    {% if layout == 'layouts/search.njk' %}
      <script src="/pagefind/pagefind-ui.js"></script>
    {% endif %}
    <link rel='stylesheet' href='/css/style.css?{{ assetHash }}' />
  </head>
  <body>
    {% include 'partials/site-header.njk' %}
    <main tabindex='-1' id='main-content' class='wrapper {% if layout == 'layouts/about.njk' %}about-page{% elif layout == 'layouts/404.njk' %}grid-container{% endif %}'>
      {% block content %}
      {% endblock %}
    </main>
    {% include 'partials/site-footer.njk' %}
    {% set js %}
      {% if layout == 'layouts/search.njk' %}
        {% include 'pagefind.js' %}
      {% endif %}
      {% include 'toggle.js' %}
      {% include 'update-favicon.js' %}
    {% endset %}
    <script>
      {{ js | jsmin | safe }}
    </script>
  </body>
</html>