{% extends 'layouts/base.njk' %}

{% block content %}
  <section class="feed">
    {% for photo in photofeed %}
      <img src="{{ photo.image }}" alt="{{ photo.alt }}" />
      <h2>{{ photo.title }}</h2>
    {% endfor %}
  </section>
  
  {% include 'partials/pagination.njk' %}

{% endblock %}
