{% extends 'layouts/base.njk' %}

{% block content %}
  <div class="photo">
    {% for photo in photogallery | reverse %}
      <a href="photo/{{ photo.filename | slugify }}">
        <img src="{{ photo.image }}" alt="{{ photo.altText }}" />
      </a>
    {% endfor %}
  </div>
{% endblock %}