{% extends 'layouts/base.njk' %}

{% block content %}
  <article class="photo">
    <section class="image">
      <img src="{{ image }}" alt="{{ altText }}" />
    </section>
    <section class="info">
      <h1>{{ title }}</h1>
    </section>
  </article>

  <nav class="photo-nav">
    <a href="/">← Back to gallery</a>
  </nav>
{% endblock %}