{% extends 'layouts/base.njk' %}

{% block content %}
  
  <section>
    {% include 'partials/photogallery-page-title.njk' %}
    {% for photo in photogallery %}
      {% include 'partials/photo+details.njk' %}
    {% endfor %}
  </section>
  {% include 'partials/pagination.njk' %}
{% endblock %}