{% extends 'layouts/base.njk' %}

{% block content %}
  <section>
    {% include 'partials/photogallery-page-title.njk' %}
    <div class="photogallery-container">
      {% if tag %}
        {% set photos = photosByTag[tag] %}
      {% elif country %}
        {% set photos = photosByCountry[country] %}
      {% elif city %}
        {% set photos = photosByCity[city] %}
      {% else %}
        {% set photos = photogallery %}
      {% endif %}
      {% for photo in photos %}
        <a href="/photo/{{ photo.title | slugify }}/index.html" class="gallery-image">
          <span class="visually-hidden">Information about the photograph entitled: {{ photo.title | updateApostrophe }}</span>
          <figure>
            <img src="{{ photo.thumbnail }}" alt="{{ photo.alt }}">
          </figure>
        </a>
      {% endfor %}
    </div>
  </section>
{% endblock %}