{% extends 'layouts/base.njk' %}

{% block content %}
  <section class="feed">
    {% for photo in photofeed | reverse %}
      {% include 'partials/photo+details.njk' %}
    {% endfor %}
  </section>
  
  {% include 'partials/pagination.njk' %}
{% endblock %}