{% extends 'layouts/base.njk' %}

{% block content %}
  <section>
    {% include 'partials/photogallery-page-title.njk' %}
    <div class="flex-container--wrap">
      {% for photo in photogallery %}
        <a href="/post/{{ photo.title | slugify }}/index.html" class="gallery-image">
          <span class="visually-hidden">More information about the photo, entitled: {{ photo.title | updateApostrophe }}</span>
          <figure>
            {% include 'partials/photo-path.njk' %}
          </figure>
        </a>
      {% endfor %}
    </div>
  </section>
  {% include 'partials/pagination.njk' %}
{% endblock %}