{% extends 'layouts/base.njk' %}

{% block content %}
  
  <section class="grid-container feed">
    {% include 'partials/photogallery-page-title.njk' %}
    {% for photo in photofeed %}
      {% include 'partials/photo+details.njk' %}
    {% endfor %}
    {% include 'partials/pagination.njk' %}
  </section>
{% endblock %}