{% extends 'layouts/base.njk' %}

{% block content %}
  
  <section class="grid-container feed">
    <h1 class='font-size-2'>Nikin's photofeed</h1>
    {% for photo in photofeed %}
      {% include 'partials/photo+details.njk' %}
    {% endfor %}
  </section>
  
  {% include 'partials/pagination.njk' %}
{% endblock %}