{% extends 'layouts/base.njk' %}

{% block content %}
  <section>
    <h1 class='font-size-2 website-page--title grid-container'>{{ title }}</h1>
      <div class="details">
        {{ content | safe }}
      </div>
    </div>
  </section>
{% endblock %}