.general-input {
  appearance: auto;
  background-color: var(--color-background);
  border-radius: 0;
  border: var(--border-thin) var(--color-border) solid;
  padding: var(--pixel-5);
  max-width: 100%;
  color: var(--color-primary-text);
  &:focus-visible {
    border: var(--border-thin) var(--color-focus-border) solid;
    outline: var(--border-thick) solid var(--color-focus);
    outline-offset: 0px;
  }
}

input {
  @extend .general-input;
}

select{
  @extend .general-input;
  height: var(--pixel-40);
}

button {
  cursor: pointer;
  padding: var(--spacing-1) var(--spacing-3) var(--spacing-0);
  &:focus-visible {
    outline: var(--border-thin) solid var(--color-focus);
    background: var(--color-focus);
    color: var(--color-focus-text);
    border-bottom: var(--border-thick) var(--color-focus-border) solid;
  }
}

/* If there’s no JS, there’s no need to show */
.no-js .user-toggle {
  display: none;
}

.theme-toggle {
  @extend select ;
}