@use "spacing-mixins";

.pagination {
  @include spacing-mixins.spacing(top, 9, margin);
}

.pagination > ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.navigation-icons {
  fill: var(--color-secondary-text);
  overflow: visible;
}