@use "spacing-mixins";

.pagination {
  @include spacing-mixins.top-9(margin);
}

.pagination > ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.pagination li {
  font-weight: var(--font-weight-bold);
}