@use 'typography';
@use 'inputs';

.pagefind-ui__search-input {
  @extend input;
  width: calc(100% - 103px);
}

.pagefind-ui__search-clear,
.pagefind-ui__button {
  @extend button;
  @extend .lowercase;
}

.pagefind-ui__search-clear {
  display: none;
  border: var(--border-thin) var(--color-secondary-button-border) solid;
  border-bottom: var(--border-thick) var(--color-secondary-button-border) solid;
  background: var(--color-secondary-button-background);
  color: var(--color-secondary-button-text);
  &:focus-visible {
    border-top: 0;
    border-left: 0;
    border-right: 0;
  }
  &:hover {
    color: var(--color-button-hover);
    border: var(--border-thin) var(--color-button-hover) solid;
    border-bottom: var(--border-thick) var(--color-button-hover) solid;
  }
  &:active {
    color: var(--color-background);
    background: var(--color-active);
    border: var(--border-thin) var(--color-active) solid;
    border-bottom: var(--border-thick) var(--color-active) solid;
  }
}

.pagefind-ui__button {
  width: 100%;
  border: 0;
  border-bottom: var(--border-thick) var(--color-button-hover) solid;
  background: var(--color-button-background);
  color: var(--color-background);
  &:hover {
    background: var(--color-button-hover);
    color: var(--color-button-text);
  }
  &:active {
    color: var(--color-background);
    background: var(--color-active);
    border-bottom-color: var(--color-active);
  }
}

.pagefind-ui__message {
  color: var(--color-secondary-text);
  margin-top: var(--spacing-4);
}

.pagefind-ui__results {
  padding-left: 0;
  list-style-type: none;
}

.pagefind-ui__result {
  display: flex;
  gap: var(--spacing-3);
  border-bottom: var(--border-thin) var(--color-border) solid;
  padding: var(--spacing-4) 0;
  &:first-child {
    padding-top: 0;
  }
  &:last-child {
    border-bottom: none;
  }
}

.pagefind-ui__result-thumb {
  width: calc(var(--pixel-60) * 2);
  height: calc(var(--pixel-60) * 2);
  flex-shrink: 0;
  position: relative;
}

.pagefind-ui__result-image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pagefind-ui__result-excerpt {
  @extend .font-size--1;
  mark {
    background-color: var(--color-mark-background);
    color: var(--color-mark-text);
    font-weight: var(--font-weight-semibold);
  }
}