@use "spacing-mixins";

.individual-photo--page figure:has(.photo-orientation--portrait),
.individual-photo--page figure:has(.photo-orientation--square) {
  max-width: 455px;
  margin: 0 auto;
}

.individual-photo--page > figure:has(.photo-orientation--landscape) {
  margin: 0 auto;
}

.photo {
  flex: 0 1 calc(var(--wrapper-width)*2/3);
}

.photo-details {
  flex: 1 1 calc(var(--wrapper-width)*1/5 - var(--spacing-6));
}

a {
  &:hover {
    figure {
      border-color: var(--color-hover);
      background: var(--color-hover);
      img {
        filter: grayscale(100%);
        opacity: 0.5
      }
    }
  }
  &:focus-visible {
    figure {
      border-color: var(--color-focus);
      background: var(--color-focus);
      box-shadow: 0 var(--focus-background) var(--color-focus),0 var(--pixel-10) var(--color-focus-border);
      img {
        filter: grayscale(100%);
        opacity: 0.15
      }
    }
  }
    &:active {
    figure {
      border-color: var(--color-active);
      background: var(--color-active);
      img {
        filter: grayscale(100%);
        opacity: 0.5
      }
    }
  }
}