@use "spacing-mixins";
.photo-details figure:has(.photo-orientation--portrait),
.photo-details figure:has(.photo-orientation--square) {
  max-width: 28.5rem;
}

.photo {
  flex: 0 1 calc(var(--wrapper-width)*2/3);
  img {
    border: var(--border-thin) solid var(--color-border);
  }
}

.photogallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(7.8125rem, 1fr));
  gap: var(--spacing-3);
  figure {
    border: var(--border-thin) solid var(--color-link);
  }
}

.photograph-details {
  flex: 1 1 calc(var(--wrapper-width)*1/5 - var(--spacing-6));
}

.gallery-image {
  &:hover {
    figure {
      border-color: var(--color-hover);
      background: var(--color-hover);
      img {
        filter: grayscale(100%);
        opacity: 0.5
      }
    }
  }
  &:focus-visible {
    figure {
      border-color: var(--color-focus);
      background: var(--color-focus);
      box-shadow: 0 var(--focus-background) var(--color-focus),0 var(--pixel-10) var(--color-focus-border);
      img {
        filter: grayscale(100%);
        opacity: 0.15
      }
    }
  }
    &:active {
    figure {
      border-color: var(--color-active);
      background: var(--color-active);
      img {
        filter: grayscale(100%);
        opacity: 0.5
      }
    }
  }
}