@use "spacing-mixins";

figure {
  border: var(--border-thin) solid var(--color-border);
}

a {
  &:hover,
  &:focus {
    figure {
      border-color: var(--color-hover);
    }
  }
  &:hover {
    figure {
      box-shadow: 0 0 0 var(--pixel-10) var(--color-hover);
    }
  }
  &:focus {
    figure {
      border-color: var(--color-focus);
      background: var(--color-focus);
      box-shadow: 0 var(--focus-background) var(--color-focus),0 var(--pixel-15) var(--color-focus-border);
      img {
        filter: grayscale(100%);
        opacity: 0.15
      }
    }
  }
}