.site-header-image--placeholder:focus-visible {
  .site-header-image {
    fill: var(--color-focus-text);
  }
}

.site-header-image {
  display: block;
  width: auto;
  height: var(--pixel-40);
  fill: var(--color-link);
  &:hover {
    fill: var(--color-hover);
  }
  &:active {
    fill: var(--color-active);
  }
}

/* If there’s no JS, there’s no need to show */
.no-js .menu-item--search {
  display: none;
}