{% set pageTitle = title + ' - ' + site.siteName %}

{# We don't want any duplication. This is likely for the home page. #}
{% if site.siteName === title %} 
  {% set pageTitle = title %}
{% endif %}

{% set siteTitle = site.siteName %}
{% set currentUrl = site.url + page.url %}

{# If the page’s Front Matter has specific metaTitle and/or metaDesc items, switch 
  them into the mix. #}
{% if metaTitle %}
  {% set pageTitle = metaTitle %}
{% endif %}

{% if not metaDesc %}
  {% set metaDesc = summary %}
{% endif %}


<title>{{ pageTitle }}</title>
<link rel="canonical" href="{{ currentUrl }}" />
<link rel="alternate" type="application/rss+xml" href="/feed.xml" />

<meta property="og:site_name" content="{{ siteTitle }}" />
<meta property="og:title" content="{{ pageTitle }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ currentUrl }}" />

{% if metaDesc %}
  <meta name="description" content="{{ metaDesc }}" />
  <meta property="og:description" content="{{ metaDesc }}" />
{% endif %}

{% if layout == 'layouts/photogallery.njk' %}
  <meta property="og:image" content="/img/open-graph/homepage.png" />
  <meta property="og:image:type" content="image/png" />
  <meta property="og:image:alt" content="A blue eye icon with a globe design in the center on a light grey background." />
{% elif layout == 'layouts/about.njk' %}
  <meta property="og:image" content="/img/open-graph/about.png" />
  <meta property="og:image:type" content="image/png" />
  <meta property="og:image:alt" content="Yellow-green eye shape with a black globe in the center on a black background." />
{% elif layout == 'layouts/404.njk' %}
  <meta property="og:image" content="/img/open-graph/404.png" />
  <meta property="og:image:type" content="image/png" />
  <meta property="og:image:alt" content="A stylized dark blue eye containing a lime green globe on a lime green background." />
{% endif %}

{% if noFollow %}
  <meta name="robots" content="noindex,nofollow,noai,noimageai" />
  <meta name="googlebot" content="noindex,nofollow" />
  <meta name="CCBot" content="nofollow" />
  <meta name="tdm-reservation" content="1" />
{% endif %}

<meta name="theme-color" media="(prefers-color-scheme: light)" content="oklch(93.65% 0.0081 293.9)">
<meta name="theme-color" media="(prefers-color-scheme: dark)" content="oklch(16.47% 0.0035 167.18)">

<link rel="icon" type="image/png" href="/img/favicon/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/img/favicon/favicon.svg" />
<link rel="shortcut icon" href="/img/favicon/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="{{ site.siteName }}" />
<link rel="manifest" href="/img/favicon/site.webmanifest" />