{% if layout == 'layouts/photo-feed.njk' %}
  <article id='{{ photo.title | slugify }}' class='individual-photo--feed'>
    <a href="/post/{{ photo.title | slugify }}/index.html">
      <span class="visually-hidden">More information about the photo, entitled: {{ photo.title | updateApostrophe }}</span>
      <figure>
        {% include 'partials/photo-path.njk' %}
      </figure>
    </a>
  </article>
{% endif %}

{% if layout == 'layouts/photo.njk' %}
  <article id='{{ photo.title | slugify }}' class='individual-photo--page'>
    <h1 class='font-size-1'>{{ photo.title | updateApostrophe }}</h1>
    <figure>
      {% include 'partials/photo-path.njk' %}
    </figure>
    <figcaption>
      <dl>
        <div class='list-horizontal horizontal-gap--2'>
          <dt>Date and time:</dt>
          <dd>
            <time datetime="{{ photo.dateTaken | apiToISO }}">
              <span class='bold'>{{ photo.dateTaken | apiToDate }}</span> at <span class='bold'>{{ photo.dateTaken | apiToTime }}</span>
            </time>
          </dd>
        </div>
        {% if photo.gps != null %}
          <div class='list-horizontal horizontal-gap--2'>
            <dt>Location:</dt>
            <dd>
              <a href="https://www.google.com/maps?q={{ photo.gps.lat }},{{ photo.gps.lon }}"  rel="noopener noreferrer" target="_blank">
                <span class='bold'>{% if photo.localized != null %}{{ photo.localized }}, {% endif %}{{ photo.country }}</a></span>
                <span class='font-size--1'>(open Google Maps<span class='visually-hidden'> in a new tab or the app if installed on the device</span>)</span>
            </dd>
          </div>
        {% endif %}
        <div class='list-horizontal horizontal-gap--2'>
          <dt>Camera:</dt>
          <dd class='bold'>{{ photo.camera }}</dd>
        </div>
        <div class='list-horizontal horizontal-gap--2'>
          <dt>Lens:</dt>
          <dd class='bold'>{{ photo.lens }}</dd>
        </div>
        <div class='list-horizontal horizontal-gap--2'>
          <dt>Aperture:</dt>
          <dd class='bold'>{{ photo.aperture }}</dd>
        </div>
        <div class='list-horizontal horizontal-gap--2'>
          <dt>ISO:</dt>
          <dd class='bold'>{{ photo.iso }}</dd>
        </div>
        <div class='list-horizontal horizontal-gap--2'>
          <dt>Shutter speed:</dt>
          <dd class='bold'>{{ photo.shutterSpeed }}</dd>
        </div>
      </dl>

       <div class='list-horizontal horizontal-gap--2'>
        <span>Tags:</span>
        <ul class='list-horizontal horizontal-gap--3'>
          {% for tag in photo.tags %}
            <li class='bold'>{{ tag | capitalize }}</li>
          {% endfor %}
        </ul>
       </div>
    </figcaption>
  </article>
{% endif %}