<h1 class="title-spacing">
  {% if pagination.pageNumber == 0 %}
    <span class="font-size-2">{{ site.siteName }}</span>
  {% elif pagination.pageNumber != 0 %}
    <span class="caption-with-headline">
      <span class="headline-caption">{{ site.siteName }}</span>
      <span class="font-size-2">Page {{ pagination.pageNumber + 1 }}</span>
    </span>
  {% endif %}
</h1>