<img 
  src="{{ photo.image }}"
  alt="{{ photo.alt }}"
  class="
    {% if photo.dimensions.width < photo.dimensions.height %}
      photo-orientation--portrait
    {% elif photo.dimensions.width == photo.dimensions.height %}
      photo-orientation--square
    {% elif photo.dimensions.width > photo.dimensions.height %}
      photo-orientation--landscape
    {% endif %}
  "
/>