<h1 class="title-container">
  {% if pagination.href.previous or pagination.href.next %}
    <span class="caption-with-headline">
      <span class="headline-caption">Page {{ pagination.pageNumber + 1 }} <span class="visually-hidden">of</span></span>
      <span class="font-size-2 title-spacing">{{ site.siteName }}</span>
    </span>
  {% else %}
    <span class="font-size-2 title-spacing">{{ site.siteName }}</span>
  {% endif %}
</h1>