<article id="{{ photo.title | slugify }}">
  <figure>
    <img src="{{ photo.image }}" alt="{{ photo.alt }}" />
    <figcaption>
      <h2>{{ photo.title | updateApostrophe }}</h2>

      <h3>Information</h3>
      <table>
        <tr>
          <th>Date and time</th>
          <td>
            <time datetime="{{ photo.dateTaken | apiToISO }}">{{ photo.dateTaken | apiToDate }} at {{ photo.dateTaken | apiToTime }}</time>
          </td>
        </tr>
        {% if photo.gps != null %}
          <tr>
            <th>Location</th>
            <td>
              <a href="https://www.google.com/maps?q={{ photo.gps.lat }},{{ photo.gps.lon }}"  rel="noopener noreferrer" target="_blank">{% if photo.localized != null %}{{ photo.localized }}, {% endif %}{{ photo.country }}</a> (open Google Maps in a new tab)
            </td>
          </tr>
        {% endif %}
        <tr>
          <th>Camera</th>
          <td>{{ photo.camera }}</td>
        </tr>
        <tr>
          <th>Lens</th>
          <td>{{ photo.lens }}</td>
        </tr>
        <tr>
          <th>Aperture</th>
          <td>{{ photo.aperture }}</td>
        </tr>
        <tr>
          <th>ISO</th>
          <td>{{ photo.iso }}</td>
        </tr>
        <tr>
          <th>Shutter speed</th>
          <td>{{ photo.shutterSpeed }}</td>
        </tr>
      </table>

      <h3>Tags</h3>
      <ul>
        {% for tag in photo.tags %}
          <li>{{ tag }}</li>
        {% endfor %}
      </ul>
    </figcaption>
  </figure>
</article>