<h1>{{ post.data.photo.title | updateApostrophe | safe }}</h1>
<img src="{{ site.url }}photos/{{ post.data.photo.filename }}" alt="{{ post.data.photo.alt | safe }}" />
<dl>
  <dt>Date and time</dt>
  <dd>
    {{ post.data.photo.dateTaken | apiToDate }} at {{ post.data.photo.dateTaken | apiToTime }}
  </dd>
  {% if post.data.photo.gps != null %}
    <dt>Location</dt>
    <dd>
      <a href="https://www.google.com/maps?q={{ post.data.photo.gps.lat }},{{ post.data.photo.gps.lon }}" rel="noopener noreferrer" target="_blank">
        {% if post.data.photo.localized != null %}{{ post.data.photo.localized }}, {% endif %}
        {{ post.data.photo.country }}
      </a> (open Google Maps in a new tab)
    </dd>
  {% endif %}
  <dt>Camera</dt>
  <dd>{{ post.data.photo.camera }}</dd>
  <dt>Lens</dt>
  <dd>{{ post.data.photo.lens }}</dd>
  <dt>Aperture</dt>
  <dd>{{ post.data.photo.aperture }}</dd>
  <dt>ISO</dt>
  <dd>{{ post.data.photo.iso }}</dd>
  <dt>Shutter speed</dt>
  <dd>{{ post.data.photo.shutterSpeed }}</dd>
</dl>
<span>Tags</span>
<ul>
  {% for tag in post.data.photo.tags %}
    <li>{{ tag | safe }}</li>
  {% endfor %}
</ul>