<footer class='wrapper flex-container--wrap'>
  {% include 'partials/switch.njk' %}
  <div>
    <small class="footer-credit">Designed and developed by <a href="https://nikin.design">{{ site.fullName }}</a></small>
    <dl class="visually-hidden">
      <dt><small>Last update:</small></dt>
      <dd>
        <time datetime='{{ helpers.builtAtISO }}'>
          <small>{{ helpers.builtAtString }}</small>
        </time>
      </dd>
    </dl>
  </div>
</footer>